* {
  margin: 0;
  padding: 0;
}

html {
  background: url("../imgs/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* . */
}

form {
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  margin: 12% auto;
  padding: 50px 0;
  color: #fff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media only screen and (max-width: 500px) {
  form {
    width: 300px;
    margin: 30% auto;
  }
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

.input-box {
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid #fff;
}

.input-box input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

::placeholder {
  color: #ccc;
}

.fa {
  margin-right: 5px;
}

.eye {
  position: absolute;
}

#hide1 {
  display: none;
}

.Login-btn {
  margin: 40px auto 20px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0px;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;
  caret-color: transparent;
}

.Login-btn-error {
  margin: 40px auto 20px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0px;
  border: 1px solid rgb(190, 38, 38);
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;
  caret-color: transparent;
}

.radiostyle {
  width: 15%;
  margin: auto;
  text-align: center;
}

/* ............................................................................................ */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default group button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom group button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the group button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.wrong {
  text-align: center;
}
